# Environment variables for MCP Quotes Server
# Copy this file to .env and replace YOUR_API_KEY with a valid API key
# The REMOTE_MCP_URL is the URL to your installed and running MCP server if 
# the proxy is used.

QUOTES_MCP_API_KEY=YOUR_API_KEY
REMOTE_MCP_URL=YOUR_MCP_SERVER_URL
